



.home-content{
    height:100%;
    /* width:38%; */
    /* margin-left:33%; */
    border-left: 1px solid rgb(238, 233, 233)

}

.profile-page{
    /* display: flex!important; */
    /* justify-content: center !important; */
    /* align-items: center!important; */
    display:inline-block;

}

.post-container{
    position: relative;
    width: 100%;
    /* height: 25%; */
    /* border-bottom: 1px solid rgb(238, 233, 233) */

}

.toggle-form{
    position: absolute;
    right: 0;
    top: 0;
}

.workout-form{
    margin: 20px
}

.suggested-users-cont{
    height:100%;
    /* width: 30%; */
    
}



.row{
    height: calc(100vh);
    


}

.workout-container{
    margin-top: 30px;
}

