.home-content {
  height: 100%;
  /* width: 75%; */
  border-left: 1px solid rgb(238, 233, 233);
  border-right: 1px solid rgb(238, 233, 233);
  /* margin: 5%; */
  margin-top: 1%;
}

.profile-page {
  /* display: flex!important; */
  /* justify-content: center !important; */
  /* align-items: center!important; */
  display: inline-block;
}

.post-container {
  position: relative;
  width: 100%;
  /* height: 25%; */
}

.toggle-form {
  position: absolute;
  right: 0;
  top: 0;
}

.workout-form {
  margin: 20px;
}

.suggested-users-cont {
  height: 100%;
  /* width: 30%; */
}

.row {
  height: calc(100vh);
}

.workout-container {
  height: calc(100vh);
  margin-top: 30px;
  overflow-x: hidden;
}
.users-container {
  /* width: 40%; */
  border-radius: 8%;
}
.user-card {
  height: 300px !important;
}

.follow-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.ionicon {
  height: 50px;
}


.edit-btn {
  position: absolute;
  top: 0;
  right: 8%;
  margin-right: 25px;
}


.comment-icon {
  right: 0;
}

.comment-image{
  margin:10px;
  height: 50%;
    width: 50%;
}

.comments{
    /* margin-top: 5px; */
    /* width: 300px; */
    height: 200px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    overflow: hidden;
    overflow-y: auto;
  
}

.row{
  border-top: 1px  rgb(73, 8, 8)
}

.search-col{
  height: calc(100vh);
  overflow-x: hidden
}