.home-content {
  height: 100%;
  border-left: 1px solid rgb(238, 233, 233);
  border-right: 1px solid rgb(238, 233, 233);
  margin-top: 1%;
}

.profile-page {
  display: inline-block;
}



.toggle-form {
  position: absolute;
  right: 0;
  top: 0;
}
.suggested-col{
  margin-right: 1.5rem;
  margin-left: 1.5rem;

}


.suggested-users-cont {
  height: 100%;
}

.row {
  height: calc(100vh);
}


.users-container {
  border-radius: 8%;
}

.ionicon {
  height: 50px;
}

.edit-btn {
  position: absolute;
  top: 0;
  right: 15%;
}



.row {
  border-top: 1px rgb(73, 8, 8);
}

.search-col {
  height: calc(100vh);
  overflow-x: hidden;
}
