.login-card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    width: 75%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .login-input {
    width: 75%;
    background-color: rgba(233, 230, 230, 0.5);
    padding: 0.75rem;
  }
  
  .login-btn {
    width: 50%;
  }