.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 12, 12)!important;
    --background:#141414

  }

 .errors{
   font-size: 30px;
 }