.nav-link {
    text-decoration: none;
    color: black;
    margin:15px;
    margin-top:15px;
    font-size: 23px
    
}
.nav-link:hover {
    
    background-color:rgb(224, 221, 221);
    border-radius: 20%;

}

.active {
    font-weight:bold
}

.popover-link{
    text-decoration: none;
    color:rgb(60, 58, 58);
}