.profile-image {
  padding-inline: 15px;
  width: 100%;
  height: 100%;
  /* margin: 2rem; */
  margin-right: 0rem;
  margin-top: 1rem;
  border-radius:15%
}

.edit-profile-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.profile-container {
  height: 100%;
}

.profile-card {
  margin-top: 1%;
}

.user-workouts-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: calc(100vh);
  overflow-x: hidden;
  width: 50%;
  border-right: 1px solid rgb(238, 233, 233);
  border-left: 1px solid rgb(238, 233, 233);
}

.grid {
  height: calc(100vh);
}

/* .image-container {
  width: 100%;
  height: 300px;
} */

.user-page-follow {
  position: absolute;
  right: 0;
  margin-right: 25px;
  z-index: 1;
}
.edit {
  margin-left: 0%;
}

.following-container {
  overflow-x: hidden;
  overflow-x: hidden;
  /* width: 50%; */
}

.title-header {
  align-items: center;
  text-align: center;
  display: inline;
  width: 100%;
  height: 20%;
  margin-top: 2rem;
}
.title {
  cursor: pointer;
  margin-bottom: 3.25rem;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  color:#033350
}
.title:hover {
  border-radius: 15px;
  background-color: rgb(235, 232, 232);
  text-decoration: underline;
}

.col {
  display: inline-block;
  width: 50%;
}
