.profile-col{
    margin-left:30%
}

.profile-content{
    height:100%;
    width:38%;
    margin-left:33%;
    border: 1px solid rgb(238, 233, 233)

}

.profile-page{
    display: flex!important;
    justify-content: center !important;
    align-items: center!important;
}

.profile-data{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgb(238, 233, 233)

}
.image-container{
    background-color: rgb(165, 162, 162);
    width: 100%;
    height: 60%;

}



.edit-profile-btn{
    position: absolute;
    right: 0;
}
  .post-title{
      position: absolute;
      left: 0;
      bottom: 0;
  }